@model IEnumerable<JobPortalProjectMVC.ViewModels.JobPostViewModel>

<h2>Job Postings</h2>

<table class="table">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Description</th>
            <th>Salary</th>
            <th>Location</th>
            <th>Category</th>
            <th>Posted Date</th>

        </tr>
    </thead>
    <tbody>
        @if(!User.IsInRole("JobSeeker"))
        {
            <a href="@Url.Action("Create", "JobPost")" class="btn btn-secondary">Create New Job Post</a>
        }
        @foreach (var jobPost in Model)
        {
            <tr>
                <td>@jobPost.JobTitle</td>
                <td>@jobPost.Description</td>
                <td>@jobPost.Salary</td>
                <td>@jobPost.Location</td>
                <td>@jobPost.Category</td>
                <td>@jobPost.PostedDate</td>
               

                <td>
                    @if(User.IsInRole("JobSeeker"))
                    {
                        <a href="@Url.Action("Details", "JobPost", new { id = jobPost.Id })" class="btn btn-danger">See details</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Edit", "JobPost", new { id = jobPost.Id })" class="btn btn-warning">Edit</a>
                        <a href="@Url.Action("Delete", "JobPost", new { id = jobPost.Id })" class="btn btn-danger">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>